/*Variables de CSS*/
:root {
  --primary-color-950: #020617;
  --primary-color-900: #0f172a;
  --primary-color-800: #1e293b;
  --primary-color-700: #334155;
  --primary-color-600: #475569;
  --primary-color-500: #64748b;
  --primary-color-400: #94a3b8;
  --primary-color-300: #cbd5e1;
  --primary-color-200: #e2e8f0;
  --primary-color-100: #f1f5f9;
  --primary-color-50: #f8fafc;

  /*Action Colors*/
  --action-color-600: #2563eb;
  --action-color-500: #3b82f6;
  --action-color-400: #60a5fa;
}

/*Reseteo de CSS*/
/* Margenes */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Listas */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

ul {
  padding: 0;
}

/* Imagenes */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Fuentes de inputs, botones, etc */
input,
button,
textarea,
select {
  font: inherit;
}

@font-face {
  font-family: "Instrument Sans";
  src: url("../assets/fonts/InstrumentSans.ttf");
}

/*Estilos*/

/*Defaults*/
body {
  color: var(--primary-color-100);
  /*BG White evita el overflow, el color del*/
  /*body se aplica en el <main>*/
  background: var(--primary-color-50);
  font-family: "Instrument Sans", "sans-serif";
  overflow-x: hidden;
}

main {
  background-image: linear-gradient(
    -12deg,
    var(--primary-color-900),
    var(--primary-color-500)
  );
}

a {
  display: inline-block;
  color: var(--primary-color-600);
  font-weight: 500;
  text-decoration: none;
  transition: all 0.2s ease-in;
}

a:hover {
  display: inline-block;
  color: var(--action-color-700);
  text-shadow: 0px 0px 4px rgba(15, 23, 42, 0.5);
  font-weight: 500;
  text-decoration: none;
}

/*Navegación*/
header {
  color: var(--primary-color-900);
  background-color: rgba(248, 250, 252, 0.9);
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  padding: 1.85rem 1.85rem 1rem 1.85rem;
  z-index: 1;
}

header h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem;
  gap: 0.5rem;
}

header img {
  width: auto;
  height: 1.75rem;
}

nav {
  padding: 1rem;
  position: sticky;
  top: 0px;
  background-color: rgba(248, 250, 252, 0.9);
  z-index: 1;
  backdrop-filter: blur(10px);
}

nav > ul {
  color: var(--primary-color-900);
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  list-style: none;
}

/*Cuerpo*/
/*Contiene sections*/
main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 10rem;
}

/*Ajustar 2do section debido a altura de svg object*/
section:nth-child(2) {
  margin-top: -3rem;
}

/*Agregar padding abajo del último section*/
section:last-child {
  padding-bottom: 8rem;
}

/*Contenedor de contenidos de sections*/
.container {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 4rem;

  min-width: 0;
}

/*Permitir escalado de correcto, y proporcional de hijos, con container grid*/
.container > * {
  min-width: 0;
}

/*Título de landing section*/
.container h2 {
  font-size: 2.85rem;
}

/*Títulos de secciones que no sean landing*/
.container h3 {
  width: 100%;
  text-align: center;
  font-size: 1.85rem;
  font-weight: 600;
  text-align: center;
}

/*Párrafos en section landing*/
#landing p {
  font-size: 1.25rem;
  color: var(--primary-color-300);
  letter-spacing: 0.03rem;
}

/*Contenedor de textos landing*/
.landing-content {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 1.2rem;
}

/*Posicionamiento auxiliar de la animación*/
#landing-animation {
  position: relative;
  top: -2rem;
}

/*Para laptops y pantallas pequeñas, cambiar h2*/
@media (max-width: 750px) {
  .container h2 {
    font-size: 1.85rem;
  }

  #landing p {
    font-size: 1rem;
  }
}

/*Pantallas de móvil*/
@media (max-width: 545px) {
  /*Grid vertical*/
  .container {
    grid-template-columns: 1fr;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }

  /*Hijos de contenedor de landing section, centreados*/
  .landing-content {
    justify-content: center;
    align-items: center;
  }

  /*Centrear el texto de landing section*/
  .landing-content h2,
  p {
    text-align: center;
  }

  /*El cuadro de la animación es demasiado grande, por lo que*/
  /*, se ajusta para ocupar menos espacio en móvil*/
  #landing-animation {
    top: -4rem;
    margin-bottom: -5rem;
  }
}

/* Section setup */
.scroll-section {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

/* The icon */
.icon {
  position: absolute;
  left: 0;
  font-size: 4rem;
  animation: move-icon 1 linear both;
  animation-timeline: scroll-section-timeline;
}

/* Define the scroll timeline */
@scroll-timeline scroll-section-timeline {
  source: auto;
  orientation: block;
  scroll-offsets: (start 0%, end 100%);
}

/* Define the animation path */
@keyframes move-icon {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(100vw - 5rem));
  }
}

.primary-button {
  background-color: var(--primary-color-900);
  color: var(--primary-color-50);
  border: none;
  padding: 0.65rem 1rem;
  width: 100%;
  border-radius: 0.5rem;
  font-weight: 600;
  cursor: pointer;
}

/*Pie de Página*/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  color: var(--primary-color-900);
  background-color: var(--primary-color-50);
}

footer h2 {
  text-align: center;
}

footer form {
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

footer .form-input-container {
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
}

footer label {
  font-size: 0.95rem;
  font-weight: 500;
}

footer input {
  padding: 0.55rem 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  color: var(--primary-color-700);
  border: 1px solid var(--primary-color-700);
}

.disclaimer {
  text-align: center;
  font-size: 0.85rem;
  color: var(--primary-color-600);
}
